/* Ipad and Ipad Pro responsive 768-1366px*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : portrait){
  header{
  	padding-top: 70px;
  	height: 70vh;
  }
  .tit-p{
    font-size: 20px;
  }
  .tit-a{
    margin-top: 250px; 
  }
  .container{
	width: 100%; 
	
 }
 .section1{
 	min-height: 50vh; 
 }
 /*trans*/
.trans{
	display: none;
}
}