/* Phone responsive 180- 768px*/
@media only screen and (min-device-width : 180px) and (max-device-width :  767px) and (orientation : portrait) {
  header{
  	padding-top: 10vh;
  	height: 80vh;
  }
  .div1{
    width: 90vw;
  }
  .tit{
	font-size: 30px;	
  }
  .tit-p{
    font-size: 18px;
  }
  .tit-a{
    margin-top: 20vh; 
  }
}
